body{
color: grey;
}
form{
	background: black;
	width: 200px;
}
table{
	color: black;
}
form table tr td input[type="text"]{
	border-radius: 5px;
	box-shadow: blue 5px;
	width: 170px;
	background: lightgray;
	font-size: 1em;
	margin-left: 10px;
	margin-right:-10px;
}
form table tr td input[type="button"]{
	border-radius: 5px;
	box-shadow: blue 5px;
	width: 30px;
	background: lightgray;
	font-size: 1em;
	margin-left: 10px;
	
}

