body{
	/*
	max-width:el tamaño maximo permitido de ancho ya no crece mas.
	el tamaño de la fuente del navegador por defecto es de 16px=1em.
	em:como su pronunciacion de M en inlges, donde quepa la M caben todas las letras ya que es la letra mas ancha del alfabeto;
	la caja body contiene todas las demas cajas y la caja html contiene la caja body.
	*/
	border:1px solid blue;
	font-size: 16px; /*1em*/
	margin: 0 auto;
	max-width: 1024px; 
}
form{
	float: right;
	margin-right: 20px;
	margin-top:-40px;
}
form input{
	border-radius: 5px;
}
form input [type="button"]{
	background: green;
	color: white;
}
header{
	background: #B3D8EB;
}
header nav{
	background: #0E6CB0;
	border-radius:5px;
	margin: 0 auto;
	padding: 2px 0px 2px 0px;
	width: 99%

}
header nav ul li{
	color: white;
	display: inline-block;
	margin-right: 20px;
	
}
#seccion01 article{
	text-align: center;
}
#seccion01 article img{
	border:5px solid rgba(150,150,150,0.5);
	margin-top:15px;
	width: 98%
}
#btn{
	background: green;
	color:white;
}
#logo /*es un id*/
{
margin-top:-180px;
}