body{

	font-size: 16px; /* 1em*/
	margin: 0 auto; /*centramos body*/
	max-width: 1078px; /*empresa-cliente*/
	
}
header nav{
	/*border: 1px solid red; cosa roja*/
	/*text-align: center; no funciona por la mancha de pintura*/
	margin-left: 220px;
}
header nav ul li{
	border-bottom: 1px solid gray;
	color: gray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;

	/*text-decoration: underline; se mira feo*/


}
header input{
	float: right;
	margin-right: -200px;
	margin-top: 15px;
	position: relative;
}
#granthams {
	margin-top: 20px;
	margin-left: 25px;
}
#paint {
	float: right;
}
#primerseccion{
	height: 318px;
	margin-top: 60px;	

}
#primerseccion article{
	display: inline-block;
	vertical-align: top;
}
#secc01art01{
	margin-left: 30px;
	width: 60%;
}
#secc01art02{
	margin-left: 50px;
	width: 30%;
}
#secc01art02 ul {
	list-style:none;
}
#secc01art02 ul li:before{ /*antes del texto*/
	content: "• ";
	color: #FF0099

}
#segundaseccion article{
	text-align: right;
	padding-right: 122px;
	vertical-align: top;
}
#terceraseccion article{
	display: inline-block;
	width: 22%;
	vertical-align: top;
}
#terceraseccion article img{
	/*alineación vertical del texto */
	vertical-align: middle;
}
#terceraseccion article input{
	color: white;
	font-size: 0.8em;
	border-radius: 5px;
}
#terceraseccion article input[type=button]{
	background: #A1D94D;
}
#bgoffer{
	/*margin-top:-300px;*/
	top: -410px;
	left:-40px;
	position: relative;
}
.colorrosa{
	color: #FF0099
}
.comuntitulo{
	font-size: 1.3em;
}
.distintotitulo{
	font-size: 1.8em;
}
.rosagrande{
	font-size: 3.5em;

}
.rosamediano{
	font-size: 2em;
}
.nito{
	font-weight: bold;
}
.colorverde{
	color: green;
}
.colorazul{
	color: blue;
}